@import url("../css/header.css");

.brand-container .brand-slider{
    padding-bottom: 2rem;
}

.brand-container .swiper-wrapper{
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    gap: 2rem;
}

.brand-container .box img{
    height: 13rem;
    width: 13rem;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 1rem;
}
